*{
    margin: 0;
    padding: 0;
    background-color: #EBCB8B;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
pre{
    width: 100%;
    height: 650px;
    font-size: 13px;
    background-color: #2E3440;
    color:#EBCB8B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toggleBtn{
    margin-top:20px ;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    background-color:#4C566A;
    color:#E5E9F0;
    border: 1px solid #E5E9F0;
    outline: none;
  }